#root {
  padding: 0 2rem;
  text-align: center;
}
.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100vh;
}
.all-side{
  width: 100%;
  display: flex;
}
.right-side{
  display: flex;
  padding: 2em;
  width: 60%;
  flex-direction: column;
}
.title{
  width: 100%;
  min-height: 100px;
  font-weight: bolder;
}
.left-side label{
  margin: 1em;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

