#root {
  padding: 0 2rem;
  text-align: center;
}
.left-side{
  display: flex;
  width: 30%;
  align-items: center;
  height: 100vh;
}
.all-side{
  width: 100%;
  display: flex;
}
.right-side{
  display: flex;
  padding: 2em;
  width: 60%;
  flex-direction: column;
}
.title{
  justify-content: center;
  width: 100%;
  font-weight: bolder;
}
